@import "../../styles.scss";

.game_field {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  background-image: url("../../assets/img/game_field.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  @include dFlex();
  > .card_stick {
    position: relative;
    > .top_card {
        left: 25px;
        transition: all 125ms ease-in;
        cursor: pointer;
        &:hover {
            transform: scale(1.1) translateY(-10px);
        }
    }
    > img {
      position: absolute;
      width: 120px;
    }
  }
}
