@for (player of game.players; track player; let index = $index) {
  <app-player [singlePlayer]="player" class="player_position" [ngStyle]="{'top.px' : 140 + (index * 200)}"></app-player>
}


<div class="game_field">
  <div class="card_stick">
    @for (item of [0, 1, 2, 3]; track item; let index = $index) {
        <img [ngStyle]="{'left.px' : index*5}" src="../../assets/img/cards/card_cover1.png" alt="" />
    }
    <img class="top_card" (click)="pickCard()" src="../../assets/img/cards/card_cover1.png" alt="" />
    @if (pickCardAnimation) {
        <img class="pick_card" [ngStyle]="{'transform': 'scale(1) translateX(-140px) translateY(-180px) rotate(' + currentCardRotation + 'deg)'}" (click)="pickCard()" src="../../assets/img/cards/{{ currentCard }}" alt="" />
    }
    @for (card of game.playedCards; track card; let index = $index) {
      <img class="played_card" [ngStyle]="{'transform': 'scale(1) translateX(-140px) translateY(-180px) rotate(' + rotations[index] + 'deg)'}" src="../../assets/img/cards/{{ card }}" alt="">
    }
  </div>
</div>
